@model List<Order>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIST ORDER</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="~/img/fevicon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/Admin/sidebar.css">
    <link rel="stylesheet" href="~/css/Admin/list_order.css">
</head>
<body class="body">
    <!-- sidebar -->
    <nav class="sidebar">
        <div class="logo">
            <a href=""><img src="~/img/logo.png" alt=""></a>
        </div>
        <ul id="sidebar_menu" class="metismenu">
            <li>
                <a href="@Url.Action("Index", "Dashboard")" style="background-color: var(--light-color);width: 215px;"><span><i class="fa-solid fa-house"></i>Thống kê</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index", "ListOrder")"><span><i class="fa-solid fa-list-ul"></i>Danh sách đơn hàng</span></a>
            </li>

            <button class="toggleButton" onclick="order_Menu()"><span style="font-size: 16px; color: var(--grey-color);"><i class="fa-regular fa-folder"></i>Tạo đơn</span></button>

            <ul class="menu">
                <li><a href="@Url.Action("Index", "CreateOrder")"><span><i class="fa-regular fa-file-lines"></i>Đơn lẻ</span></a></li>
                <li><a href="@Url.Action("Index", "CreateGoods")"><span><i class="fa-regular fa-file-excel"></i>Đơn hàng loạt</span></a></li>
            </ul>
            <li>
                <a href="@Url.Action("Index", "Confirm")"><span><i class="fa-regular fa-folder-closed"></i>Xác nhận đơn hàng</span></a>
            </li>
            <button class="toggleButton" onclick="staff_Menu()"><span style="font-size: 16px; color: var(--grey-color);"><i class="fa-regular fa-folder"></i>Nhân viên</span></button>

            <ul class="staff">
                <li><a href="@Url.Action("Index", "Staff")"><span><i class="fa-regular fa-file-lines"></i>Thông tin cá nhân</span></a></li>
                <li><a href="@Url.Action("Index", "TimeWork")"><span><i class="fa-regular fa-file-excel"></i>Ca làm việc</span></a></li>
            </ul>

        </ul>
    </nav>
 
    <nav class="main">  
        <div class="nav-bar">
            <div class="infor">
                <div class="avt">
                    <a href=""><img src="~/img/avt.png" alt=""></a>
                </div>
                <div class="name">
                    <span>Admin</span>
                </div>
                <div class="log-out">
                    <div id="myLogout" class="logout-content">
                        <a href="#" onclick="return confirmLogout()"><span>Đăng xuất </span><i class="fa-solid fa-right-from-bracket" style="color: var(--turquoise-color);"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-list" >
            <form class="f" action="/ListOrder/Search" method="post">
                <input type="text" name="keyword" placeholder="Nhập từ khóa tìm kiếm...">
                <input type="submit" value="Tìm kiếm">
            </form>
		</div> 
        <form action="~/ListOrder/SaveStatus" method="post" id="list">
            <button id="saveBtn" class="saveBtn" type="submit" onclick="confirmSave()">Lưu</button>
 

           
        <div class="staff-backgr">
            <table id="modal_order">
                <tr>
                    <th>Mã đơn hàng</th>
                    <th style="width: 450px;">Họ tên</th>
                    <th>Số điện thoại</th>
                    <th style="width: 1000px;">Địa chỉ</th>
                    <th>Cước phí</th>
                    <th>Tổng tiền</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
                @{
                    var list = Model;
                }
                @for (int i = 0; i < list.Count ; i++)
                {
                    <tr>
                            <td>@list[i].OrderId</td>
                            <td>@list[i].Receiver.Name</td>
                            <td>@list[i].Receiver.PhoneNumber</td>
                            <td>@list[i].Receiver.Address</td>
                            <td>@list[i].TransportFee</td>
                            <td>@(list[i].TransportFee + list[i].Cod)</td>

                        <td>
                            @{
                                var textButton = @list[i].Status == "Chờ xác nhận" ? "Xác nhận" : "Đã nhập kho";

                            }

                                <select id="shippingMethod" required name="orders[@i].Status">
                                    
                                    <option value="Đang giao hàng" selected="@(list[i].Status == "Đang giao hàng")">Đang giao hàng</option>
                                    <option value="Đã hoàn thành" selected="@(list[i].Status == "Đã hoàn thành")">Đã nhận hàng</option>
                                    <option value="Đã hủy" selected="@(list[i].Status == "Đã hủy")">Hủy đơn</option>
                                    <option value="Đã nhập kho" selected="@(list[i].Status == "Đã nhập kho")">Đã nhập kho</option>
                                </select>
                            
                        </td>
                            <td>
                                <div style="display:flex">
									<a href="~/ListOrder/EditOrder?orderId=@list[i].OrderId"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="~/ListOrder/DeleteOrder?orderId=@list[i].OrderId" style="padding-left:20px"><i class="fa-solid fa-trash-can"></i></a>
                                </div>
                            </td>
                    </tr>
                }
               
            </table>
		</div>
		</form>
    </nav>
    <script src="~/js/sidebar.js"></script>
</body>
</html>